.container.hero {
  padding: 161px 216px 104px 216px;
}

.hero-content-wrapper {
  max-width: 552px;
  position: relative;
  z-index: 11;
}

.hero-content-wrapper.payment {
  max-width: 100%;
}

.hero-title {
  max-width: 480px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 74px;
  margin-bottom: 67px;
  max-width: 480px;
}

.icon-container {
  height: 43px;
  width: 47px;
  margin-bottom: 30px;
}

.paragraph-1 {
  font-size: 14px;
  line-height: 20px;
}

.paragraph-1.color-gray {
  color: rgba(0, 0, 0, 0.5);
}

.dollar {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2px;
}

.monthly-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2px;
}

.monthly-text.color-black {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.5);
}

.hero-cta {
  background-color: #000000;
  padding: 20px 20px 20px 32px;
  color: white;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -32px;
}

.price-container {
  display: flex;
  align-items: flex-end;
}

.number-text {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

.paragraph-2 {
  font-size: 16px;
  line-height: 24px;
}

.paragraph-2.payment-p2 {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 12px;
}

.paragraph-2.cta-1 {
  max-width: 130px;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  opacity: 60%;
  top: 35px;
  right: -101px;
  z-index: -1;
  height: 120%;
}

.linear {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background-image: linear-gradient(rgba(255, 255, 255, 0.445), white);
  height: 100%;
  width: 100%;
}

.icon-wrapper-payment {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.payment-hero-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.payment-hero-icons {
  margin-top: 40px;
}

.price-container.margin-top {
  margin-top: 40px;
}
.price-container.margin-top-2 {
  margin-top: 18px;
}

.payment-hero {
  width: 416px;
  border: 1px solid #ececec;
  background: #ffffff;
  padding: 42px 64px 56px;

  border-radius: 8px;
}

.payment-content-wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 81px;
}

.payment-hero.active-hero {
  padding: 66px 64px 80px;
  width: 429px;
  margin-left: -24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.span-black {
  color: black;
}
