.container.cards-section {
  padding: 60px 152px;
}

.paragraph-3.p-3-card {
  margin-bottom: 29px;
}

.card {
  padding: 55px 64px 56px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card.card-1 {
  background-image: url(../assets/card-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.card.card-2 {
  background-image: url(../assets/card-bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}
