.container.footer {
  padding: 64px 112px;
  color: white;
}

.bg-dark {
  background-color: #000000;
}

.grid-4 {
  display: grid;
  grid-template-columns: 0.75fr 0.5fr 0.5fr 1fr;
}

.footer-socials {
  margin-right: 8px;
  cursor: pointer;
}

.footer-link {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 18.85px;
  color: white;
}

.footer-label {
  margin-bottom: 22px;
  opacity: 30%;
  font-size: 14px;
  line-height: 16.49px;
}

.footer-card {
  padding: 37px 56px 56px;
  width: 100%;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.footer-card-h3 {
  margin-bottom: 84px;
}

.footer-card-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.col-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-label.bottom-label {
  margin-bottom: 0px;
}
