* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "tt-hoves";
  src: url(fonts/TT\ Hoves\ Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "tt-hoves";
  src: url(fonts/TT\ Hoves\ Medium.otf);
  font-style: normal;
  font-weight: 500;
}

body {
  font-family: "tt-hoves";
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
